:global {
    body[data-theme='light'] {
        --stat-bg: var(--gray-50);
        --stat-color: var(--gray-300)
    }

    body[data-theme='dark'] {
        --stat-bg: var(--gray-500);
        --stat-color: var(--white)
    }
}

.userStats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 32px;
    color: var(--stat-color);
    background-color: var(--stat-bg);
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &Title {
        // display: inline-block;
        color: var(--gray-200);
        font-size: 0.75rem;
        line-height: 1.5;
    }

    &Number {
        // display: inline-block;
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 700;
    }
}